<h4>5. Conclusiones generales</h4>

<%= rf.simple_fields_for :conclusion, @report.conclusion do |f| %>

  <%= f.input :observaciones, label: 'Observaciones Adicionales:', :input_html => { :rows => 3 }  %>

  <%= f.input :rm, collection: ["normal", "anormal"], as: :radio_buttons, item_wrapper_class: 'inline',
                    label: 'RM Normal o anormal?' %>

  <%= f.input :sospecha, label: 'Paciente con sospecha cli패nica de:', :input_html => { :rows => 3 } %>

  <%= f.input :correlacion, collection: ["si", "no"], as: :radio_buttons, item_wrapper_class: 'inline',
                    label: 'Correlacio패n cli패nico imaginolo패gica' %>

<% end %>