<%- model_class = Displasium -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:hiperintensidad) %></th>
      <th><%= model_class.human_attribute_name(:diferencicacion_grisblanca) %></th>
      <th><%= model_class.human_attribute_name(:engrosamiento) %></th>
      <th><%= model_class.human_attribute_name(:transmato) %></th>
      <th><%= model_class.human_attribute_name(:circunvoluciones) %></th>
      <th><%= model_class.human_attribute_name(:reformateo) %></th>
      <th><%= model_class.human_attribute_name(:discircunvolucion) %></th>
      <th><%= model_class.human_attribute_name(:dislobulo) %></th>
      <th><%= model_class.human_attribute_name(:dishemisferio) %></th>
      <th><%= model_class.human_attribute_name(:report_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @displasia.each do |displasium| %>
      <tr>
        <td><%= link_to displasium.id, displasium_path(displasium) %></td>
        <td><%= displasium.hiperintensidad %></td>
        <td><%= displasium.diferencicacion_grisblanca %></td>
        <td><%= displasium.engrosamiento %></td>
        <td><%= displasium.transmato %></td>
        <td><%= displasium.circunvoluciones %></td>
        <td><%= displasium.reformateo %></td>
        <td><%= displasium.discircunvolucion %></td>
        <td><%= displasium.dislobulo %></td>
        <td><%= displasium.dishemisferio %></td>
        <td><%= displasium.report_id %></td>
        <td><%=l displasium.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_displasium_path(displasium), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      displasium_path(displasium),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_displasium_path,
            :class => 'btn btn-primary' %>
