<%- model_class = Displasium -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:hiperintensidad) %>:</strong></dt>
  <dd><%= @displasium.hiperintensidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diferencicacion_grisblanca) %>:</strong></dt>
  <dd><%= @displasium.diferencicacion_grisblanca %></dd>
  <dt><strong><%= model_class.human_attribute_name(:engrosamiento) %>:</strong></dt>
  <dd><%= @displasium.engrosamiento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:transmato) %>:</strong></dt>
  <dd><%= @displasium.transmato %></dd>
  <dt><strong><%= model_class.human_attribute_name(:circunvoluciones) %>:</strong></dt>
  <dd><%= @displasium.circunvoluciones %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reformateo) %>:</strong></dt>
  <dd><%= @displasium.reformateo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discircunvolucion) %>:</strong></dt>
  <dd><%= @displasium.discircunvolucion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dislobulo) %>:</strong></dt>
  <dd><%= @displasium.dislobulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dishemisferio) %>:</strong></dt>
  <dd><%= @displasium.dishemisferio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:report_id) %>:</strong></dt>
  <dd><%= @displasium.report_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              displasia_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_displasium_path(@displasium), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              displasium_path(@displasium),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
