<%- model_class = Esclerosi -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:atrofia_sunj) %></th>
      <th><%= model_class.human_attribute_name(:hiperintensidad) %></th>
      <th><%= model_class.human_attribute_name(:estructura_anormal) %></th>
      <th><%= model_class.human_attribute_name(:volumen) %></th>
      <th><%= model_class.human_attribute_name(:esclerosis) %></th>
      <th><%= model_class.human_attribute_name(:hallazgos_extra) %></th>
      <th><%= model_class.human_attribute_name(:report_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @esclerosis.each do |esclerosi| %>
      <tr>
        <td><%= link_to esclerosi.id, esclerosi_path(esclerosi) %></td>
        <td><%= esclerosi.atrofia_sunj %></td>
        <td><%= esclerosi.hiperintensidad %></td>
        <td><%= esclerosi.estructura_anormal %></td>
        <td><%= esclerosi.volumen %></td>
        <td><%= esclerosi.esclerosis %></td>
        <td><%= esclerosi.hallazgos_extra %></td>
        <td><%= esclerosi.report_id %></td>
        <td><%=l esclerosi.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_esclerosi_path(esclerosi), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      esclerosi_path(esclerosi),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_esclerosi_path,
            :class => 'btn btn-primary' %>
