<h4>4. Malformación vascular (MV)</h4>
<small>Zonas a ser inspeccionadas: Todos los lóbulos, en menor proporción el temporal</small>
<h6>Hallazgos a explorar:</h6>

<%= rf.simple_fields_for :malformacion, @report.malformacion do |f| %>

  <%= f.input :centro_hipert, collection: @laterality, as: :radio_buttons, item_wrapper_class: 'inline',
                    label: 'Centro hiperintenso:' %>

  <%= f.input :senal_peri, collection: @laterality, as: :radio_buttons, item_wrapper_class: 'inline',
                    label: 'Señal periférica de vacío:' %>

  <%= f.input :anillo_hipo, collection: @laterality, as: :radio_buttons, item_wrapper_class: 'inline',
                    label: 'Anillo hipointenso en T2 (deposito de hemosiderina):' %>

  <%= f.input :vaso, collection: @laterality, as: :radio_buttons, item_wrapper_class: 'inline',
                    label: 'Vaso alimentando la malformación:' %>

  <h6>Conclusiones:</h6>
  <%= f.input :hallazgo_mv, label: 'Hallazgos sugestivos de MV tipo:' %>
  <%= f.input :circunvolucion, label: 'Circunvolución:' %>
  <%= f.input :lobulo, label: 'Lóbulo:' %>
  <%= f.input :hemisferio, label: 'Hemisferio:' %>

<%end%>